body{
    background-color: yellow;
    text-align: center;
}
h1{
    text-align: center;
    background-color: red;
    font-style: italic;
}
h2{
    color: yellow;
    background-color: orangered;
    text-align: center;
    border: 2px solid black;
    margin: 20px 50px;
}
footer{
    font-style: italic;
    background-color: red;
    font-size: x-large;
}
div{
    display: inline;
    text-align: center;
}
.list{
    font-size: 150%;
}
a{
    background-color: orangered;
    color: white;
    padding: 5px;
    text-decoration: none;
    border: 2px solid black;
}
a:hover{
    background-color: red;
}
.nav-button{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.nav-button a{
    background-color: orangered;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.nav-button a:hover{
    background-color: red;
    padding: 10px;
    text-decoration: none;
    color: white;
}
img{
    width: 300px;
    height: 300px;
}
.firstschool{
    color: red;
    background-color: yellow;
    border: 2px solid red;
}
.firstschool:hover{
    color: dodgerblue;
    background-color: rgb(255, 255, 100);
    border-color: dodgerblue;
}